.app {
  padding-top: 10%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto 2rem;
  padding: 2rem 0;
  background-color: #fff;
  border-radius: 0.25rem;
}

.heading {
  margin-top: 0;
  text-align: center;
}

.list {
  border: 1px solid #d2d2d2;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.row:nth-child(odd) {
  background-color: #d8d8d8;
}
